
.gradient-custom {
/* fallback for old browsers */
background:  #939afb;


}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}


.nav-link:hover{
    box-shadow: 1px 1px 20px  (0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
}
